// colors
$black: black;
$blue: dodgerblue;
$white: white;
$orange: orange;
$yellow: yellow;
$lightgrey: lightgrey;
$transparent: transparent;

// breakpoints
$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// Small devices min 576px
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices min 768px
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices min 992px
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices min 1200px
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
